# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# Documentation
README.md
LICENSE
*.md

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

